#wrap    { background-color: white; margin:auto ; width:760px; border: 0px dotted #CCC; padding: 2px; height: 1px;}

#header  { background-color: white; margin: 0 0 0 0; padding:0px}
#content { background-color: white; margin: 0 0 0 0; padding:0px; width:490px; float: left;}
#side    { background-color: white; margin: 0 0 0 0; padding:0px; width:240px; float: right}
#footer  { background-color: white; margin: 0; padding:0px; clear: both; border-top: 1px dotted #CCC;font-family: serif;font-size: 80%;color: #999;}

/* used whenever we have the box shadow around the div */
.margin  {padding: 0px 5px 5px 0px;}
.spacer  {padding: 16px 16px 16px 16px; _height: 1px;}
.clear0   {clear:both; overflow:hidden; height: 1px; margin: 0px; padding: 0px}
.clear   {clear:both; overflow:hidden; height: 1em; margin: 0px; padding: 0px}
.clear2  {clear:both; overflow:hidden; height: 2em; background-color: green}
.skip  {clear:left; height: 4em;}

/* the shading around the boxes */

.t       {background: url(img/t.jpg); background-position: top; background-repeat: repeat-x;}
.b       {background: url(img/b.jpg); background-position: bottom; background-repeat: repeat-x;}
.l       {background: url(img/l.jpg); background-position: left; background-repeat: repeat-y;}
.r       {background: url(img/r.jpg); background-position: right; background-repeat: repeat-y;} 
.bl      {background: url(img/bl.jpg);  background-position: bottom left; background-repeat: no-repeat;}
.br      {background: url(img/br.jpg);  background-position: bottom right; background-repeat: no-repeat;}
.tl      {background: url(img/tl.jpg);  background-position: top left; background-repeat: no-repeat;}
.tr      {background: url(img/tr.jpg);  background-position: top right; background-repeat: no-repeat;} 

em {
  font-family: serif;
  font-size: 95%;
  font-style: italic;
}

#wrap h1, h2 {
  font-size: 120%;
  border-bottom: 2px dotted #CCC;
  color: #AA0000;
}

#wrap h3 {
  clear: left;
  font-size: 100%;
  border-bottom: 2px dotted #CCC;
  color: #AA0000;
}

#side p, #side ul {
  color: #555;
  font-family: "Times New Roman", Times, serif; font-size: 95%; font-style: italic
}

#side li {
  list-style-type: circle;
  }
  
img.rthumbnail {
  /* top right bottom left */
  padding: 5px 10px 10px 10px;
  float: right;
  border: 0px;
}

img.lthumbnail {
  /* top right bottom left */
  padding: 5px 10px 10px 10px;
  float: left;
  border: 0px;
}

img.logo {
  float: left;
  display: block;
}

.spacing img {
  display: block;
}


#navlist2
{
margin-top: 30px;
float: right;
}

#navlist2 ul, #navlist2 li
{
font-size: 75%;
display: inline;
list-style-type: none;
}

#navlist2 a:link, #navlist2 a:visited
{
font-weight: bold;
text-decoration: none;
color: #999;
margin: 0px 2px 4px 2px;
}

#navlist2 a:link#current, #navlist2 a:visited#current
{
border-bottom: 2px solid #000;
background: transparent;
color: #000;
}

#navlist2 a:hover { 
background-color: yellow; 
padding-top: 35px;
}




