<?xml version="1.0"?>
<!DOCTYPE Preferences SYSTEM "file:///home/sps/int/Conoco/xml/preferences.dtd">
<Preferences>
	<XMLDocPath>//UUUU/</XMLDocPath>
	<BackEndLibPath>//AAAA/libCFE.so</BackEndLibPath>
	<HelpMode value="mouse"/>
	<WithConsole value="no"/>
	<DefaultLabelFont name="SansSerif" size="14" />
	<DefaultFieldFont name="SansSerif" style="bold" size="14" />
	<DefaultArrayFont name="SansSerif" size="14" />
</Preferences>
